
@{
    ViewBag.Title = "CifrarEspirarl";
}

<h2>CifrarEspirarl</h2>



<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    Llenado<input type="text" name="llenado" />
    <br />
    Llave <input type="number" name="m"><br>
    <br />
    <button type="submit">Subir</button>
</form>


@Html.ActionLink(" Ir a Descargas", "Donwload")
<br />
@Html.ActionLink("Cifrado Zig Zag", "SubirArchivo")
<br />
@Html.ActionLink("Decifrar con Cesar", "CesarDecifrado")

