
@{
    ViewBag.Title = "error";
}

<h2>error</h2>

<h1>soorri bro</h1>

@Html.ActionLink(" Ir a Descargas", "Donwload")
@Html.ActionLink("Cifrado Zig Zag", "SubirArchivo")
@Html.ActionLink("Cifrar con Cesar", "Cesar")
@Html.ActionLink("Decifrar con Cesar", "CesarDecifrado")