
@{
    ViewBag.Title = "GenerarLlaver";
}

<h2>Generar Llaves</h2>

<form method="post" enctype="multipart/form-data">
    Ingrese P <input type="number" name="P"><br>
    <br />
    Ingrese Q <input type="number" name="Q"><br>
    <br />
    <button type="submit">Generar</button>
</form>


@Html.ActionLink("Cifrar Texto", "RSACifrar")