
@{
    ViewBag.Title = "GenerarLlaver";
}

<h2>GenerarLlaver</h2>

<form method="post" enctype="multipart/form-data">
    Ingrese P <input type="number" name="P"><br>
    Ingrese Q <input type="number" name="Q"><br>
    <br />
    <button type="submit">Subir</button>
</form>