
@{
    ViewBag.Title = "RSACifrar";
}

<h2>RSACifrar</h2>
<form method="post" enctype="multipart/form-data">
    Llave para cifrar <input type="file" name="key" />
    <br />
    <br />
    Archivo a Cifrar <input type="file" name="text"><br>
    <br />
    <button type="submit">Cifrar</button>
</form>
