
@{
    ViewBag.Title = "RSADescifrar";
}

<h2>RSADescifrar</h2>

<form method="post" enctype="multipart/form-data">
    Llave para descifrar <input type="file" name="key" />
    <br />
    <br />
    Archivo a Descifrar <input type="file" name="text"><br>
    <br />
    <button type="submit">Descifrar</button>
</form>
@Html.ActionLink("Cifrar Texto", "RSACifrar")