
@{
    ViewBag.Title = "SubirArchivo";
}

<h2>SubirArchivo</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    Llave <input type="text" name="llave"><br>
    <br />
    <button type="submit">Subir</button>
</form>
